---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        <p onclick="trick1()">行为一</p>
        <p onclick="trick2()">行为二</p>
        <p onclick="trick3()">行为三</p>
        <script src="http://cbe.51convert.cn/cbe/collect?tid=1734229266&at=0&h=web"></script>
<script>
	var r=window.location.search.substr(1).match(new RegExp("(^|&)cl_testid=([^&]*)(&|$)", "i"));
	r=r?(r[2]||""):"";
	clab_tracker.ready(function(){
	  this.push({pageId:"1d02d8259733452ab2a2e4a8bc7a71c1",testId:r});
	  this.track("open_page",{targetId:"1d02d8259733452ab2a2e4a8bc7a71c1"});
	})
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://host.convertlab.com/js/clpage1.0.0.js"></script>
<script>
wx.config({
  debug: false,
  appId: {wxf7d4f8be8d6261a0},
  timestamp: {1470926190},
  nonceStr: {9a5f4eb2-3e43-4f7d-8dcb-e1071ff9cb0f},
  signature: {1b35e86be29c9366377a15c8f62c3f5124196da7},
  jsApiList: [
  'checkJsApi',
  'onMenuShareTimeline',
  'onMenuShareAppMessage'
  ]
  });
  wx.ready(function(){
  wx.onMenuShareAppMessage({
   title: window.clShareTitle,
   desc: window.clShareSummary,
   link: window.sessionShareUrl, 
   imgUrl: window.clShareImage,
   trigger: function (res) {
   },
   success: function (res) {
    window.onShareToSession();
   },
   cancel: function (res) {
   },
   fail: function (res) {
   alert(JSON.stringify(res));
   }
   });
   wx.onMenuShareTimeline({
  title: window.clShareTitle,
   desc: window.clShareSummary,
  link: window.timelineShareUrl, 
  imgUrl: window.clShareImage,
   trigger: function (res) {
   },
   success: function (res) {
     window.onShareToTimeline();
   },
   cancel: function (res) {
   },
   fail: function (res) {
   alert(JSON.stringify(res));
   }
   });
 	});
</script>
<script>
	function trick1(){if(_cl_tracker){_cl_tracker.track("c_1470894319649","action1","id_1470894319649");}}
	function trick2(){if(_cl_tracker){_cl_tracker.track("c_1470894363682","action2","id_1470894363682");}}
	function trick3(){if(_cl_tracker){_cl_tracker.track("c_1470894384688","action3","id_1470894384688");}}
</script>

        {{ content }}
        <!--<form id="clForm" data-cl-attached="true" data-cl-id="8c15e5ea915540f29e8bf7361f6ede05" action="http://host.convertlab.com/page/8c15e5ea915540f29e8bf7361f6ede05" method="POST"></form>-->
<!--<form id="clForm" data-cl-attached="true" data-cl-id="cec17167ddc04d98b90bc45010c56032" action="http://host.51convert.cn/form/cec17167ddc04d98b90bc45010c56032" method="POST"></form>
<script type="text/javascript" src="http://host.51convert.cn/js/forms/form.js"></script>
<script>
	_clForm.loadForm("http://host.51convert.cn", "cec17167ddc04d98b90bc45010c56032",{
		formInit: function(){},
		beforeSubmit: function(){},
		onSubmit: function(args){}
	});
</script>-->

<form id="clForm" data-cl-attached="true" data-cl-id="d28b2b2971c547b88d69796f107ff2e4" action="http://host.convertwork.cn/form/d28b2b2971c547b88d69796f107ff2e4" method="POST"></form>
<script type="text/javascript" src="http://host.convertwork.cn/js/forms/form.js"></script>
<script>
	_clForm.loadForm("http://host.convertwork.cn", "d28b2b2971c547b88d69796f107ff2e4",{
		formInit: function(){},
		beforeSubmit: function(){},
		onSubmit: function(args){}
	});
</script>
        
        
    </div>

    

    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Opinion</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Project</h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="sidenav">
    	<h3>扫描以下二维码绑定微信</h3>
    	<!--<div id="_cl_qrcode" style="width:200px"></div>
<script>
(function(c,e,f,b){function a(j){var h=j+"=";var g=document.cookie.split(";");for(var k=0;k<g.length;k++){var l=g[k];while(l.charAt(0)==" "){l=l.substring(1)}if(l.indexOf(h)==0){return l.substring(h.length,l.length)}}return""}function d(){var h=a("c__utma");var g=document.createElement("img"); setTimeout(function(){g.setAttribute("style","width: 100%");g.setAttribute("src",c+"?uuid="+e+"&tid="+f+"&utma="+h);document.getElementById(b).appendChild(g)},3000) }if(typeof _cl_tracker != "undefined" && _cl_tracker.ready){_cl_tracker.ready(d)}else{setTimeout(d,1000)}})("//host.51convert.cn/qrcode/binding","780579f99020474180d541a92615d167","1734229266","_cl_qrcode");
</script>-->


<div id="_cl_qrcode" style="width:200px"></div>
<script>
(function(c,e,f,b){function a(j){var h=j+"=";var g=document.cookie.split(";");for(var k=0;k<g.length;k++){var l=g[k];while(l.charAt(0)==" "){l=l.substring(1)}if(l.indexOf(h)==0){return l.substring(h.length,l.length)}}return""}function d(){var h=a("c__utma");var g=document.createElement("img"); setTimeout(function(){g.setAttribute("style","width: 100%");g.setAttribute("src",c+"?uuid="+e+"&tid="+f+"&utma="+h);document.getElementById(b).appendChild(g)},3000) }if(typeof _cl_tracker != "undefined" && _cl_tracker.ready){_cl_tracker.ready(d)}else{setTimeout(d,1000)}})("//host.convertwork.cn/qrcode/binding","623271061fcb424a88361bbe2db69b53","1238467299","_cl_qrcode");
</script>

<script src="/js/post.js" type="text/javascript"></script>



