---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        
        <!--convertwork H5-->
        <p><a href="http://site.51convert.cn/about-simplify">链接01</a></p>
        <p><a href="http://site.51convert.cn/about-simplify">链接02</a></p>
        <p><a href="http://site.51convert.cn/test">链接03</a></p>
        <p><a onclick="trick1()">开始游戏</a>&nbsp;&nbsp;<a onclick="trick2()">开始交朋友（游戏进行中）</a>&nbsp;&nbsp;<a onclick="trick3()">分享（游戏结束）</a></p>
        <p><a onclick="trick4()">游戏结束</a>&nbsp;&nbsp;<a onclick="trick5()">还要交朋友（定制结束）</a>&nbsp;&nbsp;<a onclick="trick6()">还要分享（定制结束）</a></p>
        
<script src="http://cbe.51convert.cn/cbe/collect?tid=1734229266&at=0&h=web"></script>
<script>
	var r=window.location.search.substr(1).match(new RegExp("(^|&)cl_testid=([^&]*)(&|$)", "i"));
	r=r?(r[2]||""):"";script>
	var c=window.location.search.substr(1).match(new RegExp("(^|&)cl_ignore=([^&]*)(&|$)", "i"));
	c=c?(c[2]||""):"";
	clab_tracker.ready(function(){
	  this.push({pageId:"65a53c4cbc15438bbffc504fe7763544",testId:r});
	  if(c)return;
	  this.track("open_page",{targetId:"65a53c4cbc15438bbffc504fe7763544"});
	})
</script>

<script>
	function trick1(){if(_cl_tracker){_cl_tracker.track("c_1472452694115","开始游戏 01","id_1472452694115");}}
	function trick2(){if(_cl_tracker){_cl_tracker.track("c_1472452727506","开始交朋友（游戏进行中）02","id_1472452727506");}}
	function trick3(){if(_cl_tracker){_cl_tracker.track("c_1472452757835","分享（游戏结束）03","id_1472452757835");}}
	function trick4(){if(_cl_tracker){_cl_tracker.track("c_1472452791769","游戏结束04","id_1472452791769");}}
	function trick5(){if(_cl_tracker){_cl_tracker.track("c_1472452816882","还要交朋友（定制结束）05","id_1472452816882");}}
	function trick6(){if(_cl_tracker){_cl_tracker.track("c_1472452852082","还要分享（定制结束）06","id_1472452852082");}}
</script>

        {{ content }}
        <!--<form id="clForm" data-cl-attached="true" data-cl-id="8c15e5ea915540f29e8bf7361f6ede05" action="http://host.convertlab.com/page/8c15e5ea915540f29e8bf7361f6ede05" method="POST"></form>-->
<!--<form id="clForm" data-cl-attached="true" data-cl-id="cec17167ddc04d98b90bc45010c56032" action="http://host.51convert.cn/form/cec17167ddc04d98b90bc45010c56032" method="POST"></form>
<script type="text/javascript" src="http://host.51convert.cn/js/forms/form.js"></script>
<script>
	_clForm.loadForm("http://host.51convert.cn", "cec17167ddc04d98b90bc45010c56032",{
		formInit: function(){},
		beforeSubmit: function(){},
		onSubmit: function(args){}
	});
</script>-->

<!--convertwork form-->
<form id="clForm" data-cl-attached="true" data-cl-id="d28b2b2971c547b88d69796f107ff2e4" action="http://host.convertwork.cn/form/d28b2b2971c547b88d69796f107ff2e4" method="POST"></form>
<script type="text/javascript" src="http://host.convertwork.cn/js/forms/form.js"></script>
<script>
	_clForm.loadForm("http://host.convertwork.cn", "d28b2b2971c547b88d69796f107ff2e4",{
		formInit: function(){},
		beforeSubmit: function(){},
		onSubmit: function(args){
			_cl_tracker.track("submit_form",{targetId:"d28b2b2971c547b88d69796f107ff2e4"});
		}
	});
</script>
        
    </div>

    

    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Opinion</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Project</h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="sidenav">
    	<h3>扫描以下二维码绑定微信</h3>
    	<!--<div id="_cl_qrcode" style="width:200px"></div>
<script>
(function(c,e,f,b){function a(j){var h=j+"=";var g=document.cookie.split(";");for(var k=0;k<g.length;k++){var l=g[k];while(l.charAt(0)==" "){l=l.substring(1)}if(l.indexOf(h)==0){return l.substring(h.length,l.length)}}return""}function d(){var h=a("c__utma");var g=document.createElement("img"); setTimeout(function(){g.setAttribute("style","width: 100%");g.setAttribute("src",c+"?uuid="+e+"&tid="+f+"&utma="+h);document.getElementById(b).appendChild(g)},3000) }if(typeof _cl_tracker != "undefined" && _cl_tracker.ready){_cl_tracker.ready(d)}else{setTimeout(d,1000)}})("//host.51convert.cn/qrcode/binding","780579f99020474180d541a92615d167","1734229266","_cl_qrcode");
</script>-->


<div id="_cl_qrcode" style="width:200px"></div>
<script>
(function(c,e,f,b){function a(j){var h=j+"=";var g=document.cookie.split(";");for(var k=0;k<g.length;k++){var l=g[k];while(l.charAt(0)==" "){l=l.substring(1)}if(l.indexOf(h)==0){return l.substring(h.length,l.length)}}return""}function d(){var h=a("c__utma");var g=document.createElement("img"); setTimeout(function(){g.setAttribute("style","width: 100%");g.setAttribute("src",c+"?uuid="+e+"&tid="+f+"&utma="+h);document.getElementById(b).appendChild(g)},3000) }if(typeof _cl_tracker != "undefined" && _cl_tracker.ready){_cl_tracker.ready(d)}else{setTimeout(d,1000)}})("//host.convertwork.cn/qrcode/binding","623271061fcb424a88361bbe2db69b53","1238467299","_cl_qrcode");
</script>

<script src="/js/post.js" type="text/javascript"></script>



